connexion==2.12.0
flask==1.1.4
flask_cors==3.0.10
flask_sqlalchemy==2.5.1
Gunicorn==20.1.0
marshmallow_sqlalchemy==0.27.0
psycopg2==2.9.3
python-jose==3.3.0
six==1.16.0
smart-open==5.2.1
swagger_ui_bundle==0.0.9
